.highlight .c {
  color: #6272a4 !important;
}

.highlight .nf, .highlight .fm {
  color: #50fa7b !important;
}

.highlight .no, .highlight .kd {
  color: #8be9fd !important;
}

.highlight .nb {
  color: #ffb86c !important;
}

.highlight .kn, .highlight .o, .highlight .nl {
  color: #ff5555 !important;
}

.highlight .s1, .highlight .s2 {
  color: #f1fa8c !important;
}

.highlight .mi {
  color: #bd93f9 !important;
}
