@import 'variables';

.highlight .c {
  color: $drac-comment !important;
}

.highlight .nf, .highlight .fm {
  color: $drac-green !important;
}

.highlight .no, .highlight .kd {
  color: $drac-cyan !important;
}

.highlight .nb {
  color: $drac-orange !important;
}

.highlight .kn, .highlight .o, .highlight .nl {
  color: $drac-red !important;
}

.highlight .s1, .highlight .s2 {
  color: $drac-yellow !important;
}

.highlight .mi {
  color: $drac-purple !important;
}
